
body{
    background: linear-gradient(266deg, #7c4568, #2b5186) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainf{
  position: sticky;
  top:70px;
}


.new{
  color:aliceblue;
}
.wrap{
  padding: 1em;
margin-bottom: 1em;
border: 1px solid #eee;
background-color: #0d87b629;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
border-radius: 5%;
width: 400px;
margin-left: 10px;
margin-right: 10px;
}
input{
  border-radius: 60%;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}
.about{
  background-color: #61dafb;
}
#navs{
  background-image: linear-gradient(86deg, #83fff2, #00edbf00);
}
/* .mainf{
  border: 1px solid #eee;
background-color: #0d87b629;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
border-radius: 2%;
} */
td, th {  
 height: 45px; 
}
table {
  border: 1px solid #d6f4c4;
  /* background-color: #30c58f4f; */
  box-shadow: 0 3px 4px rgb(0 255 229);
  width: 100%;
  color: #dbf3c1;
  text-align: center;
}
.circstat{
  border: 1px solid #eee;
background-color: #ffffff;
box-shadow: 0 0 10px rgb(5 241 180);
min-height: 200px;
max-height: fit-content;
text-align: center;
margin: 5px;
padding: 90px;
border-radius: 50%  10%;
margin-top: 5px;
text-decoration: none;
}
.circstat:hover{
  background-color: #e3aefd89;
}
#circbox{
  margin-left: 2px;
}
.mycal{
  border: 1px solid #eee;
background-color: #1b264663;
box-shadow: 0 4px 4px rgba(251, 248, 248, 0.715);
/* border-radius: 10%; */
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
height: 70px;
}
.mycalback{
  border: 1px solid #eee;
  background-color: #272030a1;
  box-shadow: 0 3px 4px rgba(232, 221, 221, 0.25);
/* border-radius: 5%; */
height: fit-content;
text-align: center;
color: #dbf3c1;
margin-top:40px ;
}
.chartstat{
  min-height: fit-content;
  background-color: #ffffff;
  /* box-shadow: inset 4px 4px 4px rgba(3, 132, 244, 0.725); */
  margin: 10px;
  display: flexbox;
  justify-content: center;
  /* margin-left: 30px; */
}
#mycalmonth{
text-align: center;
margin-top: 10px;
margin-bottom :10px; ;
height: 60px;
min-width: 80px;
max-width: fit-content;
}
.eraser{
  margin: 2px;
}
a{
  text-decoration: none;
}
#mymodal{
  background-color: #5fceae9e;
  color: #000;
}
.chartsp{
  margin-left: 10vw;
  height: 30vh;
}
.mycal:hover{
  background-color: #1e4569;
}

#initpage{
  height: 100vh;
  width: 99vw;
}
.mynav{
  margin: 5px; 
  color: #000;
  cursor: pointer;
}
.mynav:hover{
  color: #115191;
}
.mobstat{
  background-color: #261048;
  margin-left: 2px;
  width: 30%;
  text-align: center;
  border: 1px solid #d6f4c4;
  color: white;
}

#profilebox{
background-color: #232f50de;
text-align: center;
padding: 2em;
margin-top: 10vh;
margin-bottom: 5vh;
margin-left: 20px;
margin-right: 20px;
box-shadow: inset 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3), 0em 0em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}
.profelement{
  margin: 2em;
  font-size:1.2em;
  color: #dbf3c1;
}
#prficon{
  color: #000000;
  margin: unset;
}
#prficon:hover{
  color: #eef5f2;
}
.loader-container {
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}
.fpvid{
  width: 98vw;
  margin-top: 10px;
}